@import url(./fonts.css);
:root {
  --orange: #d87d4a;
  --light-orange: #fbaf85;
  --black: #000000;
  --lighter-black: #101010;
  --gray: #101010;
  --light-gray: #f1f1f1;
  --white: #ffffff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
image {
  object-fit: cover;
  display: flex;
}
body {
  font-family: "Manrope";
}
h1 {
  color: var(--black);
  letter-spacing: 2px;
  line-height: 5.8rem;
  font-size: 5.6rem;
  font-weight: 700;
}
h2 {
  color: var(--black);
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 1.43px;
  font-weight: 700;
}
h3 {
  color: var(--black);
  letter-spacing: 1.14px;
  line-height: 3.6rem;
  font-size: 3.2rem;
  font-weight: 700;
}
h4 {
  color: var(--black);
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.71px;
}
.container {
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
}
header {
  background-color: var(--lighter-black);
}
.header .container {
  height: 100vh;
  background-position: calc(130%) /*right*/;
  background-repeat: no-repeat;
  background-image: url(../image/xx-99-II-headphones.png);
}
.navigation {
  border-bottom: 1.5px solid #5b5b5b;
  padding-top: 3.5rem;
  padding-bottom: 3.6rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.menu {
  gap: 3.4rem;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.list__item {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  color: var(--white);
}
.hero {
  margin-top: 128px;
  gap: 24px;
  max-width: 398px;
  align-items: start;
  text-align: left;
  flex-direction: column;
  display: flex;
}
.hero__description {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19.3px;
  letter-spacing: 10px;
  opacity: 49.64%;
  color: var(--white);
}
.hero__main-title {
  color: var(--white);
}
.main-title__description {
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 765%;
  color: var(--white);
}
.sell {
  margin-top: 16px;
  padding: 15px 29px 15px 29px;
  color: var(--white);
  background-color: var(--orange);
  line-height: 17.76px;
  font-size: 13px;
  font-weight: 700;
}
.devices {
  padding-top: 200px;
  padding-bottom: 84px;
}
.devices .container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.devices__card {
  border-radius: 8px;
  padding-bottom: 30px;
  padding-right: 98px;
  padding-left: 98px;
  background-color: var(--light-gray);
  align-items: center;
  display: flex;
  flex-direction: column;
}
.devices__img {
  margin-top: -80px;
  margin-bottom: 36px;
}
.devices__title {
  font-size: 1.8rem;
  line-height: 24.59px;
  letter-spacing: 1.29px;
}
.shop {
  margin-top: 15px;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  opacity: 50%;
  color: var(--black);
  font-weight: 700;
}
.zx9-speaker {
  padding-bottom: 24px;
}
.zx9-speaker .container {
  background-position: 96px 117px;
  background-repeat: no-repeat;
  background-image: url(../image/zx9-spaeker.png);
  display: flex;
  justify-content: flex-end;
  border-radius: 8px;
  background-color: var(--orange);
}
.zx9-speaker__content {
  margin-right: 95px;
  padding: 133px 0px 124px 0;
  max-width: 349px;
}
.zx9-speaker__title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-align: left;
}
.zx9-speaker__description {
  padding: 24px 0 40px 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.zx9-speaker .sell {
  color: #f1f1f1;
  background-color: #000000;
}
.zx7-speaker {
  padding-top: 24px;
  padding-bottom: 24px;
}
.zx7-speaker .container {
  overflow: hidden;
  background-image: url(../image/zx7-speaker.png);
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
}
.zx9-spaeker__content {
  padding: 101px 0;
  padding-left: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zx7-speaker .sell {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}
.yx1-earphones {
  margin-top: 24px;
  padding-bottom: 10rem;
}
.yx1-earphones__content {
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.yx1-earphones__img-card {
  max-height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}
.yx1-earphones__img-card img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.yx1-earphones-card {
  border-radius: 8px;
  padding: 101px 198px 101px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.yx1-earphones__main-title {
}
.yx1-earphones .sell {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}
.audio {
  margin-top: 100px;
}
.container {
}
.audio__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.audio__card {
  flex-direction: column;
  display: flex;
  gap: 32px;
  max-width: 445px;
  text-align: left;
}
.audio__main-title {
  text-transform: uppercase;
}
.audio__description {
  opacity: 50%;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
